html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
a{text-decoration:none;}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
@font-face {
font-family: 'Myriad Pro Regular';
src: url(../fonts/MyriadPro-Regular.eot);
src: url('MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
url(../fonts/MyriadPro-Regular.woff) format('woff'),
url(../fonts/MyriadPro-Regular.ttf) format('truetype');
font-weight: normal;
font-style: normal;
}
body{
	font-family: 'Myriad Pro Regular';
	background: #8e4423 url(../img/bg.png) center center no-repeat;
	background-attachment: fixed;
	background-size: cover;

}
.main-center{
	max-width: 960px;
	margin:0 auto;
}
.header{
	background: #232628;
	border-radius: 0 0 10px 10px;
	padding: 20px 27px 20px 24px;
	display: flex;
	justify-content: space-between;
}
.header__left{
	display: flex;
}
.logo{
	text-decoration: none;
}
.logo__text{
	color: #e6e3bb;
	font-size: 30px;
	padding-right: 20px;
	border-right: 1px solid #7b7a6d;
	
}
.nav{
	display: flex;
	-ms-align-items: center;
	align-items: center;
}
.nav__item{
	margin: 0 10px 0 20px;
	position: relative;
	line-height: 30px;
}
.nav a{
	text-decoration: none;
	color: #e6e3bb;
	font-size: 14px;
}
.nav__item_active a,.nav a:hover{
	color: #8e4423;
}
.nav__item_have-inner:hover .nav__inner{
	top: 40px;
	transition: 0.2s;
}
.nav__inner{
	position: absolute;
	top: -1000px;
	left: -16px;
	background: rgba(40, 39, 39, 0.95);
	padding: 15px 25px 20px 20px;
	width: 225px;
	border-radius: 10px;
	border-top: 1px solid #3a3a3a;
	box-shadow: 0 0 5px black;
	display: block;
}
.nav__inner:before{
	position: absolute;
	top: -12px;
	left: 10px;
	background: url(../img/arrow.png) center center no-repeat;
	width: 40px;
	height: 20px;
	display: block;
	content: "";
}
.nav__inner li{
	line-height: 30px;
	border-bottom: 1px solid black;
	box-shadow: 0 5px 5px -5px #3a3a3a;
}
.nav__inner li:last-child{
	border-bottom: none;
	box-shadow:none;
}
.nav__inner a{
	display: inline-block;
	width: 100%;
	font-size: 14px;
	color: #7b7a6d;
}
.nav__inner a:hover{
	color: #cac7a5; 
}
.client-form{
	display: flex;
}
.client-form__text{
	border-radius: 5px;
	border-bottom: 1px solid #3a3a3a;
	background: #1f2123;
	padding:0 15px;
	line-height: 27px;
	font-size: 14px;
	color: #7b7a6d;
	margin:0 10px;
}
.client-form__text-user{
	color: #8e4423;
}
.client-form__out{
	color: #e6e3bb;
	background: #984a26;
	background: linear-gradient(to bottom,#ae572d, #833d20);
	border-radius: 5px;
	border: none;
	line-height: 27px;
	font-size: 14px;
	padding:0 15px;
	cursor: pointer;
	border-top: 1px solid #b57657;
}
.header__right{
	display: flex;
	-ms-align-items: center;
	align-items: center;
}

/*End header*/

.feature__img-wrap{
	text-align: center;
	margin: 10px auto 0 auto;
}
.feature-content{
	background: #242729;
	border-radius: 10px 10px 0 0;
	border-top: 1px solid #545658;
	padding: 40px 10px 70px 10px;
	position: relative;
	margin-top: -30px;
}
.feature-content__images{
	display: flex;
	margin-right: 25px;
}
.feature-content__images li{
	border: 5px solid #8e4423;
	box-shadow: 0 -5px 2px -5px #a76d53;
	margin: 0 10px;
}
.feature-content__images img{
	height: 100%;
}
.feature-content__wrap{
	display: flex;
	-ms-align-items: center;
	align-items: center;
}
.second-title{
	padding-left: 40px;
	position: relative;
}
.second-title h2{
	font-size: 18px;
	font-weight: 700;
	color: #8e4423;
}
.second-title span {
	font-size: 12px;
	color: #646363;
	font-style: italic;
}
.second-title_feature:before{	
	background: url(../img/icon1.png) no-repeat;
	width: 25px;
	height: 32px;
	content: "";
	display: block;
	position: absolute;
	left: 0;
}
.feature-content__text{
	font-size: 13px;
	color: #7b7a6d;
	margin: 10px 0;
}
.feature-content__line{
	background: #393b3d;
	height: 2px;
	border: none;
	margin-top: 30px;
}
.feature-title{
	border-radius: 10px 10px 0 0;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	background: #242729;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	top: -30px;
}
.feature-title__text{
	color: #fff;
	font-size: 16px;
	font-style: italic; 
	padding:10px 10px;
}
.feature-title__arrow{
	width: 40px;
	height: 25px;
	background: url(../img/br_next.png) center center no-repeat;
}
.feature-title__arrow_left{
	-webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
}
.home{
	background: #e6e3bb;
	padding: 35px 20px;
	border-top: 15px solid #a35129;
}
.columns-list{
	display: flex;
	justify-content: space-around;
	margin-top: -92px;
}
.columns-list__item{
	max-width: 200px;
	text-align: center;
	position: relative;
}
.columns-list__img{
	display: block;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	box-shadow:  0 0px 30px black;
	margin: 0 auto 20px;
}
.columns-list__img_book{
	background: #883f20 url(../img/Circle_book.png) center center no-repeat;
}
.columns-list__img_w{
	background: #883f20 url(../img/Circle_w.png) center center no-repeat;
}
.columns-list__img_cl{
	background: #883f20 url(../img/Circle1_cl.png) center center no-repeat;
}
.columns-list__item h2{
	font-size: 18px;
	text-transform: uppercase;
	color: #8e4423;
	font-style: italic;
	margin: 10px 0;
}
.columns-list__item p{
	font-size: 13px;
	color: #7b7a6d;
	margin: 10px 0;
}
.columns-list__item a{
	font-size: 13px;
	color: #e6e3bb;
	background: #363b3d;
	border-radius: 5px;
	padding: 6px 15px;
	line-height: 28px;
	text-decoration:none;
	margin: 15px 0;
	border-top: 1px solid gray;
	box-shadow: 0 -1px 0 black;
}
.tubs-list{
	background: #242729;
	border-radius: 10px;
	border-top: 1px solid #545658;
	padding: 30px 70px;
	margin-top: 70px;
	position: relative;
}
.tubs-list__headers{
	position: absolute;
	top: -20px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
}
.tubs-list__headers li{
	font-size: 12px;
	color: #5b5b5b;
	border-radius: 5px 5px 0 0;
	background: #242729;
	border-top: 1px solid #545658;
	padding:5px 20px;
}
.tubs-list__headers a{
	color: inherit;
}
.tubs-list__headers li:hover,.tubs-list__headers .active{
	position: relative;
	top: -5px;
	color: #e6e3bb;
	font-size: 14px;
	padding: 10px 25px;
}
.slider{
	position: relative;
}
.slide{
	display: flex;
	justify-content: space-around;
}
.slide__item{
	display: block;
	max-width: 190px;
}
.slide__item:hover .slide__text{
	color: #e6e3bb;
}
.slide__item:hover .second-title h2{
	color: #e6e3bb;
}
.second-title_text:before{	
	background: url(../img/spechbubble_sq_line.png) no-repeat;
	width: 25px;
	height: 32px;
	content: "";
	display: block;
	position: absolute;
	left: 0;
	background-position: center;
}
.slide__text{
	font-size: 14px;
	font-style: italic;
	color: #7b7a6d;
	margin-top: 20px;
}
.second-title_movie:before{	
	background: url(../img/Movie-Strip.png) no-repeat;
	width: 25px;
	height: 32px;
	content: "";
	display: block;
	position: absolute;
	left: 0;
	background-position: center;
}
.slider__nav{
	display: block;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	border-top: 1px solid gray;
	background: #ab5c33 url(../img/br_next-copy-2.png) center center no-repeat;
	position: absolute;
	top: calc(50% - 17px);
}
.slider__nav_left{
	left: -20px;	
}
.slider__nav_right{	
	-webkit-transform: rotate(180deg);
   right: -20px;   
}
.footer{
	background: #242729;
	border-top: 10px solid #8a4222;
	padding: 15px 0 20px 0;
	border-radius: 0 0 10px 10px;
}
.footer__top{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	padding: 0 20px;

}
.footer__top-left{
	max-width: 405px;
	padding: 18px 15px 18px 0;
	position: relative;
}
.footer__top-left:after{
	content: '';
	display: block;
	width: 12px;
	height: 100%;
	background: url(../img/split.png) center center no-repeat;
	position: absolute;
	right: 0;
	top: 0;
	
}
.footer__top-caption{
	font-size: 18px;
	color: #8e4423;
	font-style: italic;
	font-weight: bold;
}
.footer__top-caption span{
	font-weight: 300;
}
.footer__top p{
	font-size: 13px;
	color: #7b7a6d;
	margin:15px 0;
	line-height: 1.5;
}
.footer__top-left img{
	width: 135px;
	height: 85px;
	border: 5px solid #8e4423;
	float: right;
	margin: 0 10px 20px;
}
.footer__top-right{
	padding: 18px 0 18px 15px;
	flex: 1;
}
.sign-up{
	margin: 15px 0;
	padding: 1px;
	height: 40px;
	border: 1px solid gray;
	border-radius: 5px;
	display: flex;
	align-items: center;
	width: fit-content;
}
.sign-up__text{
	margin: 0 30px 0 10px;
	border: none;
	background: none;
	color: white;
}
.sign-up__button{	
	display: block;
	height: 100%;
	border-radius: 5px;
	color: #ffffff;
	font-size: 13px;
	font-style: italic;
	background: #833d20;
	background: linear-gradient(to bottom,#ae572d, #833d20);
	border: none;
	border-top: 1px solid #b57657;
}
.twit-follow{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin: 25px 0;
}
.twit-follow__button{
	background: url(../img/twitter_newbird_blue.png) top center no-repeat;
	background-position-y: 10px;
	padding: 1px;
	display: block;
	border: 1px solid gray;
	border-radius: 5px;
	width: 60px;
	min-height: 65px;
	margin-right: 8px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	
}
.twit-follow__button button{
	display: block;
	border-radius: 5px;
	color: #ffffff;
	font-size: 13px;
	font-style: italic;
	width: 100%;
	background: #833d20;
	background: linear-gradient(to bottom,#ae572d, #833d20);
	border: none;
	border-top: 1px solid #b57657;
}
.twit-follow__text{
	border: 1px solid gray;
	border-radius: 5px;
	padding: 0 15px;
	flex:1;
	position: relative;
}
.twit-follow__text p{
	color: #6f6f64;
	font-size: 14px;
}
.twit-follow__text span{
	color: #e6e3bb;
}
.twit-follow__re-tweet{
	position: absolute;
	bottom: 0;
	right: 3px;
}
.footer__center{
	padding: 35px 20px;
	background: #e6e3bb;
	display: flex;
	justify-content: space-between;
}
.footer__center-caption{
	color: #8e4423;
	font-size: 18px;
	font-style: italic;
	padding-bottom: 12px;
	border-bottom: 1px solid #7b7a6d;
}
.square-img-list{
	max-width: 275px;
}
.square-img-list__list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.square-img-list__list a{
	display: flex;
	width: 62px;
	height: 62px;
	background: #8e4423;
	border: 1px solid #242729;
}
.square-img-list__list img{
	margin: auto;
}
.square-img-list__list li{
	margin-top: 10px;
}
.logos-list{
	text-align: center;
	margin-left: 40px;
	flex:1;
}
.logos-list__list li{
	margin: 13px 0;	
}
.text-list{
	text-align: center;
	margin-left: 40px;
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	-o-flex: 1;
	flex: 1;
}
.text-list__list li,.text-list__list a{
	color: #4f504b;
	font-size: 14px;
	margin: 13px 0;
}
.footer__bottom{
	padding: 20px 20px 0;
	color: #725142;
	font-size: 12px;
	display: flex;
	justify-content: space-between;
}
.sub_nav{
	display: flex;
}
.sub_nav a{
	color: #725142;
	font-size: 12px;
}
.sub_nav li{
	margin-left: 10px;
}
.sub_nav li:before{
	content: "/";
	margin-right: 10px;
}
.sub_nav li:first-child:before{
	content: none;
}
.columns-list_about{
	margin-top: 0;
}
.main-caption{
	padding: 20px 0;
}
.main-caption h1{
	color: #e6e3bb;
	font-size: 48px;
	text-align: center;
	margin: 20px 0;
	text-shadow: 0px 2px 9px black;
}
.feature-content_about{
	margin-top: 0;
	padding: 8px;
}
.feature-content__line_about{
	margin-top: 8px;
}
.breadcrumbs{
	display: flex;
	flex-wrap: wrap;
}
.breadcrumbs li{
	font-size: 13px;
	color: #8e4423;
}
.breadcrumbs li:not(:last-child):after{
	content: "-->";
	color: #7b7a6d;
	margin: 0 10px;
}

.breadcrumbs a{
	font-size: 13px;
	color: #7b7a6d;
}
.feature-content__wrapp{
	padding:0 20px;
	color: #7b7a6d;
	font-size: 14px;
}
.feature-content__wrapp p{
	margin:10px 0;
	line-height: 1.5;
}
.feature-content__two-column{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 20px 0;
	border-bottom: 1px solid black;
	box-shadow: 0 1px 0 gray;
}
.feature-content__column-button,.feature-content__column-video{
	flex:1;
}
.second-title_big h2{
	font-size: 30px;
}
.more-btn{
	display: inline-block;
    line-height: 25px;
    padding: 0 15px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 13px;
    background: #833d20;
    background: linear-gradient(to bottom,#ae572d, #833d20);
   margin-top: 40px;
}
.video{
	width: 100%;
	max-height: 185px;
	border: 5px solid #8e4423;
	margin-bottom: 10px;
}
.feature-content__column-video{
	margin-left: 20px;
}
.slide_about{
	padding: 30px 0;
}
.work-nav{
	display: flex;
	border-radius: 5px;
	overflow: hidden;
	border-bottom: 1px solid gray;
	width: fit-content;
    margin: 25px auto 10px;

}
.work-nav li{
	width: 96px;
	line-height: 36px;
	text-align: center;
	 background: linear-gradient(to bottom,#1b1d1e, #232628);
}
.work-nav a{
	font-size: 14px;
	color: #7b7a6d;
}
.work-nav li:hover,.work-nav .work-nav__active{
	background: inherit;
	border: 1px solid #36393a;
}
.slide_work{
	flex-wrap: wrap;
}
.slide__img{
	max-width: 100%;
	border: 5px solid #8e4423;
	margin-bottom: 20px;
}
.slide__item_work{
	max-width: 410px;
	margin:20px;
}
.second-title_screen:before {
    background: url(../img/screen.png) no-repeat;
    width: 30px;
    height: 32px;
    content: "";
    display: block;
    position: absolute;
    left: 0;
    background-position: center;
}
.pagination{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	margin: 30px 0;
}
.pagination li{
	margin:10px 4px;
}
.slider__nav_pag{
	position: static;
}
.pagination li,.pagination a{
	font-size: 13px;
	color: #8e4423;
}
.pagination a:hover, .pagination .active{
	color: white;
}
.pagination li:first-child, .pagination li:last-child{
	margin:0 20px;
}